<%= image_tag @work_item.main_image unless @work_item.main_image.nil? %>


    <h1>
        <%= @work_item.title %>
    </h1>

    <em><%= @work_item.subtitle %></em>

    <article>
        <%= @work_item.body %>
    </article>